// В этом файле должны быть стили для БЭМ-блока accordion, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.accordion {
	width: 100%;
	margin-bottom: 100px;
}

.accordion__item-content {
	display: none;
	width: 900px;
	max-width: 100%;
	transition: none;
	padding-bottom: 28px;
	font-size: 14px;
	color: $gray-color;
	padding-left: 25px;

	p:not(:last-of-type) {
		margin-bottom: 15px;
	}
}

.accordion__parent-item {
	border-bottom: 1px solid black;
	margin-bottom: 25px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.accordion__toggler {
	display: none;
}

.accordion__label {
	position: relative;
	display: flex;
	align-items: center;
	color: black;
	min-height: 70px;
	cursor: pointer;
}

.accordion__label-icon {
	margin-top: 2px;
}

.accordion__label-title {
	font-size: 18px;
	font-weight: 600;
	flex-grow: 1;
	padding: 20px 0 20px 25px;
	position: relative;

	&::before {
		content: '';
		background: url(../img/plus-gray.svg) center / contain no-repeat;
		width: 10px;
		height: 10px;
		display: block;
		position: absolute;
		left: 0;
		top: 28px;
		transform: none;
	}
}

.accordion__toggler:checked + label .accordion__label-title {
	&::before {
		content: '';
		transform: rotate(180deg);
		background: url(../img/minus-pink.svg) center / contain no-repeat;
		width: 10px;
		height: 10px;
		display: block;
		position: absolute;
		left: 0;
		top: 28px;
	}
}

.accordion__toggler:checked ~ .accordion__item-content {
	display: block;
}

.accordion__toggler:checked + label::after {
	/* rotate arrow */
	transform: rotate(180deg);
}

@media (max-width: 768px) {
	.accordion__label {
		min-height: 60px;
	}
	.accordion__label-title {
		font-size: 16px;
		padding: 15px 0 15px 20px;

		&::before {
			top: 22px;
		}
	}
	.accordion__toggler:checked + label .accordion__label-title {
		&::before {
			top: 22px;
		}
	}
	.accordion__item-content {
		padding-left: 20px;
	}
}
