%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-tabs--img--vicons {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-tabs--img--vicons-dims {
	width: 32px;
	height: 10.67px;
}

